services:
  brainiac_server:
    build: .
    container_name: brainiac_llama_cpp_server
    ports:
      - "8080:8080"
    volumes:
      - ./models:/models
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    command: >
      ./llama-server
      --model /models/luna-ai-llama2-uncensored.Q4_K_M.gguf
      --host 0.0.0.0
      --port 8080
      --n-gpu-layers -1
      --ctx-size 4096
      --reverse-prompt "<|im_end|>"
      --reverse-prompt "<|im_start|>"