services:
  brainiac_server:
    build: .
    container_name: brainiac_llama_cpp_server
    ports:
      - "8080:8080"
    volumes:
      - ./models:/models
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    command: >
     ./server
      --model /models/luna-ai-llama2-uncensored.Q4_K_M.gguf
      --host 0.0.0.0
      --port 8080
      --n_gpu_layers -1
      --n_ctx 4096